<p>Dear <%= @artist.name %>,</p>

<p>Congratulations, you have been awarded a <%= @year %> Luna Burn <%= @grant.name %>
  Grant in the amount of $<%= @submission.granted_funding_dollars %> to help bring
  <%= @submission.name %> to this year's Luna Burn <%= @year %>!</p>

<p>Thanks for your efforts -- the competition was fierce and there were a number
  of really impressive projects to choose from this year!</p>

<%if @submission.public_funding_notes.present? %>
<p><%= safe_blockquote(@submission.public_funding_notes) %></p>
<% end %>

<h2>Grant Contract</h2>

<p>Please visit your page on the Art Grant website and click the button to
  generate a contract for your project.</p>

<p>If you are accepting the grant, please sign and return this contract to us
  ASAP, and no later than end-of-day on <%= @values["contract_deadline"] %>. The signed contract
  should be sent as an email attachment in a response (Reply All) to this email.
  Scans are best, but high quality photographs are also acceptable in a pinch
  (please, please, please have good, even lighting and framing if you must go
  this route!).</p>

<p>If you are NOT accepting the grant, for whatever reason, please let us know
  ASAP as well.</p>

<p><b>If we do not hear from you, we will assume that you are NOT accepting the
  grant, and we will allocate these funds towards something else!</b></p>

<h2>Payment Methods</h2>

<p>We also need to know how you'd prefer to be paid. There are two options,
in order of speed / ease of payment for Luna Burn:</p>

<ol>
  <li>Paypal -- Please provide your paypal address</li>
  <li>Physical check -- we will use the mailing address you provided unless
  otherwise requested.</li>
</ol>

<h2>Taxes</h2>

<p>If your grant totals $600 or more, the money is considered taxable income
and requires a from 1099 to be submitted to the IRS. However, money spent
creating the art reduces the amount that is considered taxable. Therefore, hold
on to your receipts! If you are able to furnish receipts for expenses such that
the total grant money minus the expenses bring the new grant value below $600,
then a tax form is not required. This simplifies things for you and for us.
You do not need to submit the individual receipts to us, but you may need to
provide them as part of your tax returns.</p>

<h2>Schedule</h2>

<% @values["schedule"].each do |line| %>
  <%= line %><br/>
<% end %>

<p>Let us know if you have any questions!</p>

<p>- Luna Burn Art Grant Core</p>
