<ol class="breadcrumb">
  <li><%= link_to "Grant Submissions", grant_submissions_path %></li>
  <li class="active">Submission</li>
</ol>

<div class="alert alert-info">
  <p>Please refer to the <a href="https://www.lunaburn.org/participate/art-at-luna-burn/art-grants/" target="_blank">Luna Burn website</a>
   for information on the grant submission process, rules, and funding guidelines.</p>
</div>

<div class="alert alert-info">
  <strong>Important Notes</strong>
  <ul>
   <li>Please choose one or more <strong>approved funding levels</strong> for
     the Grant you're applying for. Funding requests at values between grant
     levels and blank funding requests will not be accepted by the system.</li>
   <li>If you'd like to apply for <strong>more than one funding level</strong>,
     you may press the + button next to the funding entry box and add more
     levels. Please don't submit more than one application for the same
     project.</li>
   <li><strong>Do not</strong> include any information identifying the artist(s)
     (such as name, alias, contact information, etc) in the submission document
     itself.  The review process can't be blind if your name is at the top
     of the document. Therefore <strong>we will reject your proposal</strong>
     if it contains identifying information!
  </ul>
</div>

<% unless any_submit_open? %>
  <div class="alert alert-warning">
    <p>There are no open submissions at this time.</p>
  </div>
<% end %>

<% if can? :create, GrantSubmission %>
  <%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Details
          </div>
          <div class="panel-body">
            <%= f.input :name, label: "Name of Piece", required: true, validate: true %>

            <div id="grant_submission_grant_selectors">
            <%= f.association :grant, as: :radio_buttons,
                collection: Grant.where(id: active_submit_grants),
                :input_html => { :onclick => "load_funding_levels(get_chosen_grant())" } %>
            </div>

            <label class="control-label string required" for="funding_levels"><abbr title="required">*</abbr> Requested Funding</label>
            <div id="funding_levels"></div>
            <h5 id="funding_level_text"></h5>
            <h5>If you are applying for more than one funding level, click the
                plus button and enter the other levels.</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Tags
          </div>
          <div class="panel-body">
            <div class="alert alert-warning">Please mark any applicable items below.</div>
            <table class="table table-striped">
              <tbody>
              <% Tag.all_maybe_hidden(can? :view_hidden, Tag).each do |t| %>
                <tr>
                  <td>
                    <%= check_box_tag "submission_tags[]", t.id %>
                  </td>
                  <td><h4><span class="label label-default"><%= t.name %></span></h3></td>
                  <td><%= t.description %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Documents
          </div>
          <div class="panel-body">
            <div class="alert alert-warning">Make sure your proposal is <strong>anonymous</strong> and DOES NOT include any identifying information!</div>

            <%= f.input :proposal, as: :file, label: 'Anonymized Application PDF' %>

            <%= render partial: 'files_list', locals: { grant_submission: @grant_submission, show_actions: true } %>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </p>
  <% end %>
<% else %>
  <div class="well text-center">
    Please log in as an artist to create a submission.
  </div>
<% end %>

<%= javascript_include_tag 'grant_submissions/new', 'data-turbolinks-track': true %>